body {
  width: 600px;
  margin: 25px auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: solid 9px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(102, 96, 96);
}
